body {

    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: normal;

}

h1 {
    font-size: 50px;
}

.Abid {

    color: darkblue;
}

section {
    display: flex;
}

.ra {
    width: 50%;
}

.ra img {
    width: 500px;
}

a {
    text-decoration: none;
    background-image: -moz-linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 400;
}